---
name: Release Python Package

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    # Reuse build-packages.yml in publish mode for semver tags.
    if: ${{ github.ref matches '^refs/tags/v[0-9]+\\.[0-9]+\\.[0-9]+$' }}
    uses: ./.github/workflows/build-packages.yml
    secrets: inherit
    with:
      python_versions: '["3.11"]'
      publish_packages: true
