name: Utility Unit Tests

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
    paths:
      - 'scripts/**'
      - '.github/workflows/utility-tests.yml'
      - 'pyproject.toml'

jobs:
  test-utility-unit-tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ["3.11", "3.13"]
        script-test-paths: ["scripts/generate_readme/tests"]

    name: Test Utility Unit Tests (Python ${{ matrix.python-version }})

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python CI
        uses: ./.github/actions/setup-python-ci
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: uv run pytest ${{ matrix.script-test-paths }} -v --tb=short
