name: validate-metadata-schema
env:
  PYTHON_VERSION: 3.11
  VALIDATION_SCRIPT_PATH: $GITHUB_WORKSPACE/scripts/validate_metadata/validate_metadata.py
on:
  pull_request:
    paths:
      - 'components/**'
      - 'pipelines/**'
      - 'scripts/**'

jobs:
  validate-metadata-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Python CI
        uses: ./.github/actions/setup-python-ci
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # TODO(gfrasca): Centralize this and following step with the detect-changed-assets action.
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            components/**
            pipelines/**
            third_party/components/**
            third_party/pipelines/**
            scripts/validate_metadata/**
            .github/scripts/**
          files_ignore: |
            **/*.md

      - name: Retrieve changed components and/or pipelines
        id: get-changed-items
        run: |
          echo "Changed files:"
          echo "${{ steps.changed-files.outputs.all_changed_files }}" 
    
          # Extract unique component/pipeline directories from changed files
          targets=$(./.github/scripts/utils/find-changed-components-and-pipelines.sh ${{ steps.changed-files.outputs.all_changed_files }})
    
          echo "targets=$targets" >> $GITHUB_OUTPUT
          echo "Targets to check: $targets"


      - name: Validate changed core/third-party components and/or pipelines 
        if: ${{ steps.get-changed-items.outputs.targets != '' }}
        run: |
          CHANGED_DIRS="${{ steps.get-changed-items.outputs.targets }}"
          
          for item in $CHANGED_DIRS; do
            FILE_PATH="$GITHUB_WORKSPACE/$item"
            echo "Processing item: $item"
            uv run "${{ env.VALIDATION_SCRIPT_PATH }}" --dir "$FILE_PATH"
          done
